body {
  margin: 0px;
  padding: 0px;
  background-color: #ebf3e8;
  font-family: sans-serif;
  transition: 0.4s;
  /* height: 900px; */
}
.navhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
  background-color: #b2c8ba;
  border-bottom: 1px solid #d2e3c8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transition: 0.4s;
}
.menuC {
  border: 1px solid gray;
  background-color: #eaeaea;
  width: 200px;
  height: 100vh;
  right: 0;
  top: 0;
  margin-top: 40px;
  margin-right: -210px;
  padding-top: 10px;
  position: fixed;
  transition: 0.4s;
  visibility: hidden;
}
.menu-btn button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
  width: 160px;
  border-radius: 30px;
  background-color: #86a789;
  color: aliceblue;
  transition: 0.4s;
}
.setW {
  height: 80px;
  margin-top: 329px;
  border: 1px solid none;
  position: fixed;
  background-color: #eaeaea;
  width: 200px;
  bottom: 0;
  transition: 0.4s;
  visibility: hidden;
}
.setW button {
  cursor: pointer;
  color: aliceblue;
  background-color: #86a789;
  font-weight: 400;
  font-size: 20px;
  width: 199px;
  display: block;
  margin-right: 0;
  bottom: 0;
  transition: 0.4s;
  visibility: visible;
}
.setW button:nth-child(3) {
  font-size: small;
  border-radius: 10px;
  width: 120px;
  margin: auto;
  margin-top: -27px;
  margin-right: 15px;
}
.navhead button {
  display: inline-flex;
  color: aliceblue;
  text-decoration: none;
  font-size: 23px;
  background-color: #86a789;
  border-radius: 20px;
  padding: 0px 20px;
  cursor: pointer;
  transition: 0.4s;
}

.heroSection {
  margin: 100px 0px;
  text-align: center;
  font-size: 20px;
}

table {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  justify-content: center;
}
.changeColor {
  margin: 5px;
  display: flex;
  justify-content: left;
  z-index: 200;
}
.JS-1 button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
  width: 160px;
  border-radius: 30px;
  background-color: #86a789;
  color: aliceblue;
  transition: 0.4s;
}
.JS-1 {
  border: 1px solid gray;
  width: 200px;
  height: 100vh;
  justify-content: left;
  text-align: center;
  top: 0;
  background-color: #eaeaea;
  margin: 40px 0px;
  padding-top: 10px;
  margin-left: -210px;
  position: fixed;
  transition: 0.4s;
  visibility: hidden;
}
.menuL {
  margin: auto;
  border: 1px solid gray;
  background-color: #eaeaea;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -210px;
  border-radius: 20px;
  width: 500px;
  justify-content: center;
  display: block;
  text-align: center;
  transition: 0.4s;
  visibility: hidden;
}
.menuL input {
  border-color: #86a789;
  border-radius: 5px;
  font-weight: 700;
  background: none;
  margin: 5px 0px;
  width: 300px;
  font-size: 15px;
}
.menuL button {
  margin: 5px;
  background-color: #b2c8ba;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  width: 130px;
}
.profile {
  margin: auto;
  margin-top: -210px;
  border: 1px solid gray;
  background-color: #eaeaea;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  width: 500px;
  height: 250px;
  justify-content: center;
  display: block;
  position: fixed;
  text-align: center;
  transition: 0.4s;
  visibility: hidden;
}
.changeColor button {
  cursor: default;
  background-color: #e4c724;
  border-radius: 100px;
  width: 25px;
  height: 25px;
}
.changeColor button:nth-child(2) {
  background-color: #081f3b;
}

.SJR-JS {
  position: fixed;
  text-align: center;
  margin: auto;
  margin-bottom: -100vh;
  background-color: #eaeaea;
  width: auto;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  transition: 0.4s;
  visibility: hidden;
}

.SJR-JS button {
  border-radius: 100px;
  width: 50px;
  background-color: rgb(228, 32, 32);
  display: block;
  margin: auto;
  margin-top: 25px;
}

.paragraf {
  margin: auto;
  border: 3px solid gray;
  width: 700px;
  height: auto;
  box-shadow: #090909 0px 10px 5px;
}

.paragraf p {
  margin: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.code-JS {
  position: fixed;
  text-align: center;
  margin: auto;
  margin-bottom: -100vh;
  background-color: #eaeaea;
  width: auto;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  transition: 0.4s;
  visibility: hidden;
}
.code-JS button {
  border-radius: 100px;
  width: 50px;
  background-color: rgb(228, 32, 32);
  display: block;
  margin: auto;
  margin-top: 25px;
}
.list {
  text-align: left;
  margin-left: 130px;
  margin-top: 40px;
}
.pp {
  border-radius: 100px;
  position: absolute;
  background-color: gray;
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

.onLogin {
  transition: 0.4s;
  transform: translateY(420px);
  visibility: visible;
}
.onProfile {
  transition: 0.4s;
  transform: translateY(420px);
  visibility: visible;
}
.onX {
  transition: 0.4s;
  transform: translateX(210px);
  visibility: visible;
}

.onY {
  transition: 0.4s;
  transform: translateX(-210px);
  visibility: visible;
}

.onset {
  transition: 0.4s;
  transform: translateY(-145px);
  visibility: visible;
}

.onB2 {
  transform: translateY(-100vh);
  transition: 0.4s;
  visibility: visible;
}

.onCode {
  transform: translateY(-100vh);
  transition: 0.4s;
  visibility: visible;
}
